# Temporary and binary files
*~
*.py[cod]
*.so
*.cfg
!.isort.cfg
!setup.cfg
*.orig
*.log
*.pot
__pycache__/*
.cache/*
.*.swp
*/.ipynb_checkpoints/*
.DS_Store

# Project files
.ropeproject
.project
.pydevproject
.settings
.idea
.vscode
tags

# Package files
*.egg
*.eggs/
.installed.cfg
*.egg-info

# Unittest and coverage
htmlcov/*
.coverage
.coverage.*
.tox
junit*.xml
coverage.xml
.pytest_cache/

# Build and docs folder/files
build/*
dist/*
sdist/*
docs/api/*
docs/_rst/*
docs/_build/*
cover/*
MANIFEST

# Per-project virtualenvs
.venv*/
.conda*/
.python-version
FalconChallenge/nwb/held_in_calib/T5_2022.05.18_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.05.23_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.05.25_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.06.01_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.06.03_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.06.06_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.06.08_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.06.13_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.06.15_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.06.22_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.09.01_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.09.29_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.10.06_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.10.18_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.10.25_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.10.27_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.11.01_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.11.03_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.12.08_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2022.12.15_held_in_calib.nwb
FalconChallenge/nwb/held_in_calib/T5_2023.02.28_held_in_calib.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.05.18_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.05.23_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.05.25_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.06.01_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.06.03_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.06.06_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.06.08_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.06.13_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.06.15_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.06.22_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.09.01_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.09.29_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.10.06_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.10.18_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.10.25_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.10.27_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.11.01_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.11.03_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.12.08_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2022.12.15_held_in_eval.nwb
FalconChallenge/nwb/held_in_eval/T5_2023.02.28_held_in_eval.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.05.18_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.05.23_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.05.25_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.06.01_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.06.03_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.06.06_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.06.08_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.06.13_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.06.15_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.06.22_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.09.01_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.09.29_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.10.06_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.10.18_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.10.25_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.10.27_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.11.01_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.11.03_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.12.08_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2022.12.15_held_in_minival.nwb
FalconChallenge/nwb/held_in_minival/T5_2023.02.28_held_in_minival.nwb
FalconChallenge/nwb/held_out_calib/T5_2023.04.17_held_out_calib.nwb
FalconChallenge/nwb/held_out_calib/T5_2023.05.31_held_out_calib.nwb
FalconChallenge/nwb/held_out_calib/T5_2023.06.28_held_out_calib.nwb
FalconChallenge/nwb/held_out_calib/T5_2023.08.16_held_out_calib.nwb
FalconChallenge/nwb/held_out_calib/T5_2023.10.09_held_out_calib.nwb
FalconChallenge/nwb/held_out_eval/T5_2023.04.17_held_out_eval.nwb
FalconChallenge/nwb/held_out_eval/T5_2023.05.31_held_out_eval.nwb
FalconChallenge/nwb/held_out_eval/T5_2023.06.28_held_out_eval.nwb
FalconChallenge/nwb/held_out_eval/T5_2023.08.16_held_out_eval.nwb
FalconChallenge/nwb/held_out_eval/T5_2023.10.09_held_out_eval.nwb
FalconChallenge/nwb/held_out_oracle/T5_2023.04.17_held_out_oracle.nwb
FalconChallenge/nwb/held_out_oracle/T5_2023.05.31_held_out_oracle.nwb
FalconChallenge/nwb/held_out_oracle/T5_2023.06.28_held_out_oracle.nwb
FalconChallenge/nwb/held_out_oracle/T5_2023.08.16_held_out_oracle.nwb
FalconChallenge/nwb/held_out_oracle/T5_2023.10.09_held_out_oracle.nwb
FalconChallenge/stability_benchmark/held_in_calib/T5_2022.09.29_held_in_calib.nwb
FalconChallenge/stability_benchmark/held_out_calib/T5_2023.04.17_held_out_calib.nwb
FalconChallenge/buffered_data.pkl
FalconChallenge/h2_internal.ipynb
FalconChallenge/data
